<h1>Addition</h1>

<form action="/wizard_add">
  <label for="first_number">Add this:</label>
  <input id="first_number" name="first_number" type="text">

  <label for="second_number">to this:</label>
  <input id="second_number" name="second_number" type="text">

  <button>Add!</button>
</form>
